body {
    background-color: #ffffff;
    font-family: Verdana;
    margin: 0px 10%;
}

main {
    display: grid;
    grid-template-columns: minmax(261px, 1fr) 3fr;
    grid-template-rows: auto 500px auto;
    grid-gap: 0px;
    grid-template-areas:
        "P H"
        "P T"
        "C T";
}

.avatar {
    grid-area: P;
}

.avatar__aythor {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head {
    grid-area: H;
    text-align: left;
    color: #023b85;
    font-family: Verdana;
}

.fullname__general {
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    display: block;
}

.fullname__sub {
    text-align: left;
    font-size: 25px;
    padding-left: 30px;
}

.information {
    grid-area: T;
    text-align: left;
    color: #023b85;
    font-family: Verdana
}

.subtitle {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.skill__title {
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
}

.cocourses__list {
    padding: 0px 40px;
}

.contacts {
    grid-area: C;
    background-color: #023b85;
    text-align: left;
    color: #ffffff;
    font-family: Verdana;
}

.contacts__contact {
    list-style-type: none;
    padding: 10px;
}

.contacts__contact__item {
    margin-bottom: 8px;
}

.contacts__contact__link {
    text-decoration: none;
}

.contacts__contact__link:link,
.contacts__contact__link:visited {
    color: #ffffff;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    width: 50%;
}

.work {
    padding: 20px;
}

.work__experience__heading {
    padding: 5px 5px;
    text-align: center;
}

.education {
    padding: 20px;
}

.line {
    border-bottom: 3px solid #023b85;
}

@media screen and (max-width: 990px) {
    body {
        margin: 0px 0px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 0px;
        grid-template-areas:
            "H"
            "P"
            "T"
            "C";
    }

    .information {
        grid-area: T;
        text-align: left;
        color: #023b85;
        font-family: Verdana;
        font-size: 9px;
    }

    .cocourses__list {
        padding: 0px 10px;
    }

    .avatar__aythor {
        object-fit: contain;
    }

    .avatar {
        height: 400px;
    }

    .fullname__general,
    .fullname__sub {
        text-align: center;
        font-size: 25px;
        padding-left: 0px;
        display: block;
    }

    .contacts__contact__link:link,
    .contacts__contact__link:visited {
        font-size: 11px;

    }
}